.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70%;
}

.phone-container h2 {
  margin: 10px 0;
}
.phone-container img {
  height: 70%;
  width: 80%;
}

.details-link {
  text-decoration: none;
}

.details-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container p {
  width: 80%;
  text-align: justify;
}
